[2016-03-04 10:45] ilg-ul opened #1 "READ ME FIRST!"
Please use this tracker to record only issues related to the CMSIS++. **DO NOT** record here any other issues related to other projects/packages, which should be addressed to their corresponding trackers). Web content issues should be addressed to the [Web Issues](https://github.com/micro-os-plus/micro-os-plus.github.io/issues/1) tracker.

For general questions and requests for help that cannot be

[2016-07-29 08:50] valentingorelov opened #2 "bool event_flags::_try_wait in the file "cmsis-plus/src/rtos/os-evflags.cpp""
It seems that the function

[code]

in the file "cmsis-plus/src/rtos/os-evflags.cpp"
ignores the "clear" value of the "mode" argument. Flags are always cleared.

[2016-07-29 11:00] ilg-ul commented on #2
oops!

I refurbished the event_flags class, please check https://github.com/micro-os-plus/cmsis-plus/commit/333b6595f9b1bda7597fbe90788678db8ad5d919 and let me know if you have further suggestions.

thank you for your help.

[2016-08-28 18:10] ilg-ul opened #3 "Advanced memory management features"
I'm working on adding more memory management features to µOS++.

The plan is the following:
- there is a class `os::estd::memory_resource`, which defines the allocator API; the API is based on the standard one (http://en.cppreference.com/w/cpp/experimental/memory_resource) but with some extensions
- from this class I derived a class `os::estd::memory::newlib_nano_malloc`, which implements the allo

[2016-11-09 18:05] kblomqvist opened #4 "Confused about yotta related files"
There's `.yotta_ignore` and `module.json` files in repo, but I couldn't find the project to be installable via yotta.

[2016-11-09 18:08] ilg-ul commented on #4
unfortunately ARM abandoned yotta, and the xPacks will no longer stored on the yotta server, but on the <s>nlm</s> npm server.

I'll remove the yotta related files in the next release.

[2016-11-09 18:16] kblomqvist commented on #4
Forgive my ignorance but what's nlm server?

[2016-11-09 18:18] ilg-ul commented on #4
sorry for the typo, it is the [npm](https://www.npmjs.com) server.

[2016-11-11 13:38] carlosdelfino commented on #3
I've been visiting the project looking for a way to contribute more in programming.

But it's a subject where I'm an apprentice, and I honestly still doubt how to contribute beyond the translations I'm doing.

I'm going to dedicate a little bit to the topics related to memory allocation and deallocation in C ++ in Cortex-M today.

Any reading clipping would be interesting for the focus of this pro

[2016-11-11 14:09] ilg-ul commented on #3
the memory management features are now fully implemented, you can experiment and let me know the results.

unfortunately the user manual is not yet ready (the memory management chapter is next in line).

if you have questions, don't hesitate to ask.

[2016-11-11 14:24] carlosdelfino commented on #3
What worries me is exactly the lack of a question.

I've never programmed this level with an RTOS, so I'm still learning. And the project I have in mind now, demands multiple cores.

Is there anything I could focus on in this sense? Distribution of tasks by different cores? I have not tried it yet in QEMU intend to start on Monday back to QEMU when finished buildings.

I prefer the feeling of havi

[2016-11-11 14:37] ilg-ul commented on #3
I seriously doubt so, as far as I know, Cortex-M cores are not designed to access a single memory from multiple cores. if your application really does, the cores will probably be Cortex-A, and run a multi-core version of the linux kernel.

I don't know, I don't believe this is a realistic approach.

this file is part of one of the tests, you can try to build the `test-rtos-{debug|release}` config

[2016-11-11 16:36] carlosdelfino commented on #3
NXP has a two-color microcontroller, and I'm not finding another one in Texas that's three-color.

The equipment that I am researching would be necessary 4 internal or external colors, in the first prototype will be external 2 being Cortex-M and 2 being xTensa will need a mechanism of synchronism, but will be independent of the RTOS per hour.

This is the NXP with two colors:
http://www.nxp.com/pr

[2016-11-11 22:28] ilg-ul commented on #3
ah, I know LPC4300, but it is not really multi-core, it is asymmetric, the M0 is actually a coprocessor, running under the M4 control. the M0 is usually used as a smart watch-dog, or as a safe bootstrap, the hard work is done by the M4.

[2016-11-12 18:39] carlosdelfino commented on #3
I understand, as defined in the new ARMv8-M such tactic becomes unnecessary if I am not mistaken, that is to have a second core as responsible for the first.

But can not this second core be used for secondary tasks? The LPC43xx seems to suggest such a use, and there are models that have 2 cortex-m0 and 1 cortex-m1, I understand that the cortex-m0 acting as coprocessor may be responsible for secon

[2016-11-12 19:17] ilg-ul commented on #3
each core is obviously responsible for a different task, but it is a problem of hierarchy.

in a symmetrical design, any task can be scheduled on any core, even started on one and continued on another.

you probably are not aware of the computing power of modern microcontrollers.

a properly written application, which does not perform complex computations and always suspends a thread while waiting

[2017-01-02 07:14] ilg-ul opened #6 "printf() calls do not print float/double values"
attempts to print `float` values usually result in printing 0.0, while printing `double` values results in printing garbage.

apparently all `printf()` related calls are affected, including `snprintf()`, so it is easy to test.

[2017-01-02 07:34] ilg-ul commented on #6
the problem was not related to `printf()`, but to all functions using variable arguments. more specifically, the implementation of the `va_arg()` macro not only expects the stack to be aligned at 8 bytes for float/double variables, but silently aligns it.

if at the moment of the call the stack was not 8-bytes aligned, this results in fetching wrong values from the stack.

the solution is to guara

[2017-01-02 07:38] ilg-ul opened #7 "Some message_queue calls trigger asserts"
In certain conditions, the message queue `receive()` calls trigger asserts, although the parameters seem ok.

[2017-01-02 07:41] ilg-ul commented on #7
The problem was due to some incorrect conditions checking the `nbytes` parameter.

The solution was to remove the wrong asserts, in all three receive public calls.

- https://github.com/micro-os-plus/micro-os-plus-iii/commit/fb26930119cf949e0ebd410578bab9179854119a
- https://github.com/micro-os-plus/micro-os-plus-iii/commit/434db36a606b44784e8f28a599ad12318d686b1a

[2017-01-02 20:15] bitFiedler commented on #6
now the fix prevent a hard fault, but do not show any float or double value in the string output.

for instance, if you do
printf("test: %f \r\n", 2.333f);

the output looks like -> "test:  "
the value is missing.

the same is with %g.

[2017-01-02 20:19] ilg-ul commented on #6
either disable the use of newlib-nano, or enable the use of float for `printf()` (in the linker options).

[2017-01-02 20:25] bitFiedler commented on #6
that was the problem, newly-nano was not enabled for float values.
now I can confirm that your fix works for me.

thanks a lot!

[2017-01-02 20:26] ilg-ul commented on #6
ok, in this case I'll make the new release.

[2017-01-02 20:50] ilg-ul opened #8 "Cortex-M0/M0+ systems do not start on release"
With GCC 5.4, any optimisation level higher then `-O1` triggers a hard fault during startup.

[2017-01-02 21:01] ilg-ul commented on #8
The problem was specific to Cortex-M0/M0+ configurations. The startup sequence needs to get the MSP stack address, but ARM v6M cores do not have the VTOR register, so the address needs to be fetched from address 0x0.

Intended as a feature, with optimisation level higher then `-O1`, recent GCC versions check if the NULL pointer is dereferenced, and generate an undefined instruction, so instruction

[2017-01-02 21:45] ilg-ul commented on #8
fixed on v6.3.11.

[2017-01-02 21:45] #8 closed, assigned to ilg-ul

[2017-01-02 21:45] ilg-ul commented on #7
fixed on v6.3.11.

[2017-01-02 21:45] #7 closed, assigned to ilg-ul

[2017-01-02 21:45] ilg-ul commented on #6
fixed on v6.3.11.

[2017-01-02 21:45] #3 closed, assigned to nobody

[2017-01-02 21:46] #2 closed, assigned to ilg-ul

[2017-01-02 21:46] #6 closed, assigned to ilg-ul

[2017-05-03 12:25] ilg-ul opened #10 "Timed thread join"
Check POSIX and add support for timed thread join (timed_join(), try_join()).

[2017-07-02 22:22] andrea-marchini opened #11 "_trace_write_semihosting_debug buffer overrun"
(hope it's the right place for reporting)

Hi, in the diag/trace-semihosting.cpp, line 122:

std::size_t n = ((togo < sizeof(tmp)) ? togo : sizeof(tmp));

should be:

std::size_t n = ((togo < (sizeof(tmp)-1)) ? togo : (sizeof(tmp)-1));

Otherwise, at line 128:

tmp[i] = '\0';

You have a buffer overrun.

Ciao

Andrea

[2017-07-02 22:52] ilg-ul commented on #11
oops!

thank you, I'll fix it.

[2017-07-02 23:05] ilg-ul commented on #11
https://github.com/micro-os-plus/micro-os-plus-iii/commit/78165675af0b3c6e6541c778a2aac18a357fa559

[2017-10-06 12:26] imatic01 opened #14 "malloc & errno"
I've noticed this problem while trying to get exceptions to work. The issue is that during early startup, free store gets initialized and after it os_run_init_array() gets called. If any of the functions inside it try to use malloc (possibly something else as well) which uses current thread's errno variable, we get a problem because at this point no thread has been scheduled to run.

[2017-10-06 12:28] ilg-ul commented on #14
thank you for the bug report.

I'll investigate and find a solution.

[2017-10-06 14:25] imatic01 commented on #14
I wanted to let you know that I did manage to get things working by assigning a static thread to os::rtos::scheduler::current_thread_ just before the call to os_run_init_array(). That solved the malloc problem but then the library sent some request to __register_exitproc using unsupported __et_cxa exit type, but since my code never actually exits I just ignored those calls and after a switch to re

[2017-10-06 21:05] ilg-ul commented on #14
please try the new beta version available in the develop branch.

I initialised the `current_thread_` pointer to a tiny thread; I'm not particularly happy with the solution, but it seems functional.

https://github.com/micro-os-plus/micro-os-plus-iii/commit/4c02efe206bf6df2ef8833ff1bb407d493028ea4

[2017-10-06 21:07] ilg-ul commented on #14
as for the other problems, the nano version might be too simple; if the plain newlib works, we'll probably leave it like this until I'll have more time to do tests with exceptions.

[2017-10-07 10:34] imatic01 commented on #14
I was thinking that maybe it would make sense to expand errno into plain old global static int until scheduler gets started. Technically there are no threads in the system at that point so why insist on per thread errno? I will try the new version on monday as my code is on another computer...

[2017-10-07 11:20] ilg-ul commented on #14
how would you do it?

adding an `if` in the function is not exactly elegant.

[2017-10-07 18:41] imatic01 commented on #14
Well, if branching presents a problem then nothing better comes to mind currently. Using function pointers would be no better then the current solution.

[2017-10-07 20:37] ilg-ul commented on #14
branching does not present a problem, but is it worth? except very few moments during inits, the branch will always take the same path.

we can also add an extra indirection level via a pointer, and initially point to a short function that addresses a static int and later make it point to the one that uses the current thread, but the current inline solution will no longer work. the same question:

[2017-10-08 08:29] imatic01 commented on #14
I am aware of that, and I agree with your reasoning here. One could argue that the compiler would be smart enough to figure out what is going on, but without some hard checking there is no way to know. It's interesting, to me, how even with all these new additions into language I don't see an easy way to solve this problem. There is probably some "very smart" solution using templates :-)

[2017-10-08 08:45] ilg-ul commented on #14
this is a run-time decision, I'm afraid no such smart solution can be found.

[2017-10-08 08:52] imatic01 commented on #14
But it's actually just a true / false decision so that is why I mentioned templates.

[2017-10-08 08:55] ilg-ul commented on #14
templates are for compile time polymorphism, while the decision is at run time.

[2017-10-09 07:07] imatic01 commented on #14
I tried compiling the changes and this is what i get:

../RTOS/micro-os-plus-iii/src/rtos/os-core.cpp:112:73: error: 'int os::rtos::thread::errno_' is protected within this context
       static_assert(offsetof(tiny_thread_t, errno_) == offsetof(thread, errno_), "adjust tiny_thread_t members");
                                                                         ^
In file included from ../RTOS

[2017-10-09 08:15] ilg-ul commented on #14
are you sure you updated all files affected by this patch? https://github.com/micro-os-plus/micro-os-plus-iii/commit/ff51dc02d446c0c507dbc0076fc16892cc3f2b23

[2017-10-09 08:32] imatic01 commented on #14
My bad. It works now. Remaining problem is `assert(type == __et_atexit); ` inside `__register_exitproc`. I tried defining _LITE_EXIT on the command line but it didn't help. Probably `newlib` doesn't take that into account at all. For now I just ignore calls with `__et_cxa` requests...

[2017-10-09 09:23] ilg-ul commented on #14
please enter a separate issue for this, so I can track it.

[2017-10-09 10:12] imatic01 opened #15 "atexit & newlib"
When linking against `newlib`, `atexit` is called using parameter types that are currently not supported. Specifically `assert(type == __et_atexit)` inside `__register_exitproc` function fails.

[2017-10-09 11:44] #4 closed, assigned to ilg-ul

[2017-10-09 14:18] rpavlik opened #16 "_Heap_Limit and _Heap_Begin type mismatch in Release build"
When building in Release with `-flto`, I get the following warnings at link time:

[code]

Building on linux with:

[code]

[2017-10-09 14:23] rpavlik opened #17 "_LITE_EXIT redefine"
In a build using nano.spec (newlib nano), I get the following warning:

[code]

[2017-10-09 14:27] ilg-ul commented on #16
thank you, Ryan, for the bug report.

the error messages seem self-explanatory, I'll check and fix the inconsistencies.

however, not related to the bugs, please note that in some of my previous tests, using `-flto` resulted in various link errors, so even after fixing the bug I cannot guarantee the build to pass. :-(

also, for the linker to have the best chance to optimize, the libraries should

[2017-10-09 14:41] ilg-ul commented on #17
yes, I also noticed this problem in one of my new tests. you correctly used `nano.specs` in the compile step, while in my initial builds I incorrectly used it only during link.

I'll fix it.

[2017-10-09 15:02] rpavlik commented on #16
Thanks for the info. The build does seem to succeed and even work properly, so perhaps I'm lucky - or perhaps I'll just take out the -flto from the build options to be safe...

[2017-10-09 15:11] ilg-ul commented on #16
as long as it works properly, you can continue to use `-flto`.

maybe the problems I faced were specific to an older gcc, and the current version is ok.

I'll keep this in mind for the next time I can run some tests.

just curios, what size gain do you get with `-flto`?

[2017-10-09 15:46] rpavlik commented on #16
**Updated measurements**
Not a terribly complex firmware, and with plenty of debug prints left in even in release mode - I have TRACE defined in release for this one because the hardware it's working with has a tendency to be annoying. Not a lot of template-driven code used here (no Eigen, for instance), but a little bit in my custom HAL-over-HALs

So I've re-run these builds, with a clean built t

[2017-10-09 16:33] ilg-ul commented on #16
aha. so about 10% reduction. in line with my previous tests.

[2017-10-09 19:24] ilg-ul commented on #16
I fixed the type mismatch: https://github.com/micro-os-plus/micro-os-plus-iii/commit/b3d5e79a4c9d57d1c48cc7f65b4f85045eb81610

however my builds with `-flto` fail with lots of undefined symbols, that are obviously there.

[2017-10-13 09:31] imatic01 opened #18 "Alignment for memory allocators"
I have to manage an external device that requires 64 byte alignments in memory, and I was wondering if you have any plans on making this comment come true?

`// TODO: consider `alignment` if > block_align.
`

Best regards,
Ivica

[2017-10-13 09:54] ilg-ul commented on #18
where exactly is this?

[2017-10-13 10:05] imatic01 commented on #18
`void* first_fit_top::do_allocate (std::size_t bytes, std::size_t alignment)`
`void* lifo::do_allocate (std::size_t bytes, std::size_t alignment)`
`alignment` parameter is not considered at all...

[2017-10-13 10:08] ilg-ul commented on #18
aha. could you suggest a PR?

[2017-10-13 10:42] imatic01 commented on #18
OK, I will look into it...

[2018-03-06 12:06] ilg-ul opened #20 "Add sys/ioctl.h"
Create a new file.

Inspire from linux kernel.

[2018-03-06 12:11] ilg-ul opened #21 "Extend intrusive_list with separate derived class type"
Add a new param to the `intrusive_list` template, to allow use of members defined in the base class.

[2018-03-06 12:22] ilg-ul opened #22 "Move lseek() from posix::file to posix::io"
Move lseek() to io, since it is also needed by block devices.

Update read()/write() to adjust the offset.

[2018-03-06 12:24] ilg-ul opened #23 "Add posix::device_block"
Add suport for block devices.

[2018-03-06 12:31] ilg-ul opened #24 "In posix::io, make do_close(), do_read(), do_write() abstract"
Remove default implementations and make them abstract, to require explicit definitions in derived classes.

[2018-03-06 12:56] ilg-ul commented on #24
https://github.com/micro-os-plus/micro-os-plus-iii/commit/cdf2a9b0ee090f66b43045422b0c5becd85ec683

[2018-03-06 12:56] ilg-ul commented on #23
https://github.com/micro-os-plus/micro-os-plus-iii/commit/2cd027997cf7667b86051272ce87308d115e9aad

[2018-03-06 12:56] ilg-ul commented on #22
https://github.com/micro-os-plus/micro-os-plus-iii/commit/4e9f27bfad5d9ca2544efb07e76089be5cfbd8e0

[2018-03-06 12:57] ilg-ul commented on #21
https://github.com/micro-os-plus/micro-os-plus-iii/commit/4a5928102dd53c980972d82a1103f469123ef836

[2018-03-06 12:57] ilg-ul commented on #20
https://github.com/micro-os-plus/micro-os-plus-iii/commit/5d9f37fd23e75d5d543071b7456afea3438bb08c

[2018-03-21 20:53] ilg-ul opened #25 "Add unlink_head(), unlink_tail() to intrusive list"
Add support to remove elements from the intrusive lists.

[2018-03-21 20:55] ilg-ul commented on #25
added on 2018-03-21

[2018-03-21 20:57] ilg-ul opened #26 "Make the os_main() copyright year configurable"
Add a macro in os_versions.h and use it in os_main.cpp.

[2018-03-21 20:59] ilg-ul commented on #26
added on 2018-03-21

[2018-03-21 21:00] ilg-ul opened #27 "Display main stack range in startup"
In startup.cpp, trace_printf the stack begin/end.

[2018-03-21 21:01] ilg-ul commented on #27
Added on 2018-03-21

[2018-03-22 10:01] ilg-ul opened #28 "startup fails with exceptions enabled"
When enabling C++ exceptions, the startup code fails while processing the init array.

[2018-03-22 10:06] ilg-ul commented on #28
The problem was caused by the local atexit.cpp lite implementation, which is able to register only simple functions (of type `__et_atexit`) and failed with an assert when the exception code tried to register `__et_cxa` functions.

The solution was to disable the local atexit code if exceptions are enabled, and allow newlib to process all kind of functions.

Fixed on 2018-03-22.

[2018-03-22 22:31] ilg-ul opened #29 "Add thread top try/catch for exceptions"
In the static routine used to start threads, catch exceptions and return.

[2018-03-23 16:33] ilg-ul opened #30 "rtos: relax mutex ownership in destructors"
The asserts used to catch cases when a thread terminates before releasing mutexes should be removed, real life appplications (like the dining philosophers) do not release the mutexes, and the application crashes.

[2018-03-23 16:35] ilg-ul commented on #30
fixed on 2018-03-23

[2018-03-23 16:37] ilg-ul opened #31 "rtos: fix standard mutex try_lock()"
Both mutex and recursive_mutex fail in try_lock() when they should return false.

[2018-03-23 16:44] ilg-ul commented on #31
The correct error is EWOULDBLOCK, not ETIMEDOUT.

[2018-03-23 16:44] ilg-ul commented on #31
Fixed on 2018-03-23.

[2018-03-23 16:46] ilg-ul opened #32 "rtos: remove lock definitions from standard mutex"
The definitions in the system headers are perfectly fine, no need to redefine them.

[2018-03-23 16:48] ilg-ul commented on #32
Fixed on 2018-03-23.

[2018-03-23 16:49] ilg-ul opened #33 "rtos: update condition_variable to use std::lock & co"
Locks were removed from estd (#32), refer to std locks.

[2018-03-23 16:55] ilg-ul commented on #33
Fixed on 2018-03-23.

[2018-03-23 20:15] ilg-ul opened #34 "rtos: move thread, mutex & condition_variable to std:: namespace"
The definitions in `estd/thread`, `estd/mutex` and `estd/condition_variable` should be moved to the `std::` namespace, with an option to bring it back when running tests on POSIX platforms.

[2018-03-23 20:17] ilg-ul commented on #34
Use `OS_USE_NAMESPACE_ESTD` to move the defs to the estd namespace.

Define `OS_NAMESPACE_STD` to `os::estd` instead of `std`.

[2018-03-23 20:18] ilg-ul commented on #34
Fixed on 2018-03-23.

[2018-03-23 20:44] ilg-ul opened #35 "Add missing _fini() required by newlib non-nano."
newlib requires the presence of a `_fini()` function, and it has some special functionality behind it.

check it and possibly define `_fini()` as weak.

[2018-03-25 17:30] ilg-ul opened #36 "Add tty functions to the POSIX C API"
Add `tcgetattr()`, `tcsetattr()`, `tcflush()`, `tcsendbreak()` to the C API, calling the existing C++ implementations.

[2018-03-26 19:15] ilg-ul commented on #36
Fixed on 2018-03-26.

[2018-03-26 19:16] #36 closed, assigned to ilg-ul

[2018-03-26 19:16] #34 closed, assigned to ilg-ul

[2018-03-26 19:16] #33 closed, assigned to ilg-ul

[2018-03-26 19:17] #32 closed, assigned to ilg-ul

[2018-03-26 19:17] #31 closed, assigned to ilg-ul

[2018-03-26 19:18] #30 closed, assigned to ilg-ul

[2018-03-26 19:18] #29 closed, assigned to ilg-ul

[2018-03-26 19:18] #28 closed, assigned to ilg-ul

[2018-03-26 19:18] #27 closed, assigned to ilg-ul

[2018-03-26 19:19] #26 closed, assigned to ilg-ul

[2018-03-26 19:19] #25 closed, assigned to ilg-ul

[2018-03-26 19:23] ilg-ul commented on #24
fixed on 2018-03-06.

[2018-03-26 19:23] #24 closed, assigned to ilg-ul

[2018-03-26 19:23] ilg-ul commented on #23
fixed on 2018-03-06

[2018-03-26 19:23] #23 closed, assigned to ilg-ul

[2018-03-26 19:24] ilg-ul commented on #22
fixed on 2018-03-06.

[2018-03-26 19:24] #22 closed, assigned to ilg-ul

[2018-03-26 19:24] ilg-ul commented on #21
fixed on 2018-03-06.

[2018-03-26 19:24] #21 closed, assigned to ilg-ul

[2018-03-26 19:25] ilg-ul commented on #20
fixed on 2018-03-06.

[2018-03-26 19:25] #20 closed, assigned to ilg-ul

[2018-03-26 19:36] ilg-ul commented on #35
fixed on 2018-03-26.

[2018-03-26 19:36] #35 closed, assigned to ilg-ul

[2018-03-26 19:38] ilg-ul opened #37 "Add tcdrain() to POSIX I/O"
Add `tcdrain()` to the list of POSIX I/O functions.

[2018-03-26 19:56] ilg-ul commented on #37
added on 2018-03-26

[2018-03-26 19:56] #37 closed, assigned to ilg-ul

[2018-03-26 19:58] ilg-ul commented on #11
fixed on 2017-07-03.

[2018-03-26 19:58] #11 closed, assigned to ilg-ul

[2018-03-26 20:00] ilg-ul commented on #14
fixed on 2017-10-06.

[2018-03-26 20:00] #14 closed, assigned to ilg-ul

[2018-03-26 20:03] ilg-ul commented on #16
fixed on 2017-10-09

[2018-03-26 20:03] #16 closed, assigned to ilg-ul

[2018-03-26 20:09] ilg-ul commented on #17
fixed on 2018-03-26.

[2018-03-26 20:09] #17 closed, assigned to ilg-ul

[2018-03-27 07:03] ilg-ul commented on #18
Sorry for the delay...

Fixed on 2018-03-27.

[2018-03-27 07:03] #18 closed, assigned to nobody

[2018-03-27 07:38] ilg-ul commented on #15
The local implementation of `atexit()` is very lite, and is intended for very tight environments, generally using newlib-nano.

When linking agains newlib, the standard `atexit()` should be used.

I added `OS_INCLUDE_ATEXIT_STATIC` that must be explicitly used to include the lite version. When exceptions are enabled, this options is ineffective, and the standard `atexit()` is always used.

[2018-03-27 07:38] ilg-ul commented on #15
Fixed on 2018-03-27.

[2018-03-27 07:38] #15 closed, assigned to ilg-ul

[2018-03-29 22:27] ilg-ul opened #38 "note: parameter passing for argument of type 'os::rtos::memory::allocator_stateless_default_resource<os::rtos::thread>' changed in GCC 7.1"
While compiling the rtos test-cpp-api.cpp

[code]

the 7.1 version of GCC issues:

[code]

[2018-03-29 22:33] ilg-ul commented on #38
Apparently the message is only a notice that something changed in the ABI, and, if the program is built entirely from sources and does not use binary libraries compiled with older ABI versions, can be safely ignored.

- https://gcc.gnu.org/gcc-7/changes.html
- https://stackoverflow.com/questions/48149323/strange-gcc-warning-when-compiling-qt-project

To disable the message, use `-Wno-psabi` with g

[2018-03-29 22:35] #38 closed, assigned to ilg-ul

[2018-03-30 09:57] ilg-ul opened #39 "Add informative preprocessor definitions"
In addition to `OS_USE_MICRO_OS_PLUS`, consider other definitions like

- `OS_IS_CROSS_BUILD`
- `OS_HAS_STD_THREADS`

[2018-04-06 10:21] ilg-ul opened #40 "Add file system statistics"
Add `statvfs()`/`fstatvfs()` to POSIX I/O.

[2018-04-06 10:36] ilg-ul commented on #40
Fixed on 2018-04-06.

[2018-04-14 18:27] ilg-ul opened #41 "Add timegm() as a UTC version of mktime()"
Neither newlib nor POSIX do not provide a UTC version of mktime().

Add one, as timegm().

[2018-04-14 18:31] ilg-ul commented on #41
Fixed on 2018-04-14.

[2018-04-15 17:50] ilg-ul opened #42 "posix-io: accept mount points without final slash"
The current implementation requires the mount points to be defined like `/flash/`.

The final slash should not be mandatory.

[2018-04-15 17:51] ilg-ul opened #43 "posix-io: enumerate mount points"
If there is no root filesystem, the folders used by the mount points must be returned by opendir("/").

[2018-07-03 06:00] #41 closed, assigned to ilg-ul

[2018-07-03 06:03] #40 closed, assigned to ilg-ul

[2018-07-03 06:03] #39 closed, assigned to ilg-ul

[2018-07-03 07:50] valentingorelov opened #44 "Compilation failure with OS_EXCLUDE_DYNAMIC_MEMORY_ALLOCATIONS"
When I'm trying to compile uOs++ with `OS_EXCLUDE_DYNAMIC_MEMORY_ALLOCATIONS` macro defined, I get the following error:
`os-main.cpp:159:21: error: cannot convert 'std::aligned_storage<2168, 8>::type*' to 'os::rtos::thread*' in assignment`
on the line
`os_main_thread = &os_main_thread_;`
The compiler is arm-none-eabi-g++ (GNU Tools for Arm Embedded Processors 7-2017-q4-major) 7.2.1 20170904 (relea

[2018-07-03 11:12] ilg-ul commented on #44
I'm preparing a new release (today or tomorrow), could you try the develop branch?

[2018-07-03 13:51] valentingorelov commented on #44
Yes I can. Thanks for your response.

[2018-07-03 14:48] ilg-ul commented on #44
I added a cast, it should compile now.

Please update to the latest commit on the develop branch and confirm, I'm delaying the release to be sure the bug is fixed.

[2018-07-03 15:00] valentingorelov commented on #44
It compiles now. Thanks.

[2018-07-03 15:22] ilg-ul commented on #44
Great!

Then tomorrow I'll release 6.3.14.

[2018-07-03 15:22] #44 closed, assigned to ilg-ul

[2018-10-25 07:53] ilg-ul opened #45 "Do not switch threads while the scheduler is locked"
In certain conditions, locking the scheduler is not immediate, there still may be one or more context switches.

[2018-10-25 08:00] ilg-ul commented on #45
Locking the scheduler needs to immediately block the thread switching logic, and not rely on the port implementation of `reschedule()`, since on platforms like Cortex-M not generating the PendSV interrupt is not enough, the ready list may be long and the threads in the list still get scheduled.

[2018-10-25 08:08] ilg-ul opened #46 "Protected mutex with wrong priority must not keep ownership"
If a protected mutex tries to lock wwhile the priority is higher than the ceiling, not only fail but also do not keep ownership.

[2018-11-09 11:13] LnnrtS opened #47 "thread::stack::available() returns number of bytes not words"
Fixing the comment will probably do

[2018-11-09 11:27] ilg-ul commented on #47
Fixed, thank you.

A new release is planned shortly.

[2018-11-19 11:35] ilg-ul commented on #47
Fixed in v6.3.15.

[2018-11-19 11:35] #47 closed, assigned to ilg-ul

[2018-11-19 11:35] ilg-ul commented on #46
Fixed in v6.3.15.

[2018-11-19 11:35] #46 closed, assigned to ilg-ul

[2018-11-19 11:36] ilg-ul commented on #45
Fixed in v6.3.15.

[2018-11-19 11:36] #45 closed, assigned to ilg-ul

[2018-11-21 10:34] LnnrtS opened #48 "Add override keyword to virtual functions"
Compiling on gcc 5.4.1 with "-Wsuggest-override" and "-Werror=suggest-override" fails.

Adding the override keyword for

[code]

fixes this for me.

[2018-11-21 12:00] ilg-ul commented on #48
Thank you, Lennart, please check the develop branch.

[2019-03-01 17:18] lixpaulian opened #49 "When compiled with the option -ffreestanding, some posix calls are still accepted"
When compiled with the option -ffreestanding, some posix calls (e.g. `read ()`, `write ()` a.o.) are not flagged as undeclared, however other calls are (e.g. `tcsetattr ()`, `tcgetattr ()`).

[2019-03-14 09:49] LnnrtS opened #50 "Cannot create message_queue for types smaller than words"
`message_queue_inclusive<uint32_t,50> testBuffer;`
works

`message_queue_inclusive<uint8_t,50> testBuffer;`
fails with
[code]

Probably something wrong with the alignment calculation in `compute_allocated_size_bytes`..?

[2019-03-14 14:50] ilg-ul commented on #50
Negative, there is nothing wrong with the alignment calculation, by design, for efficiency reasons, the queue elements cannot be shorter than a certain limit.

(The technical reason is that, in order for the list of free messages to not consume additional memory, the pointers are stored at the beginning of the messages, thus messages should be large enough to fit a pointer).

[2020-04-26 18:25] fj-sanchez opened #51 "Is this project active?"
Hi,

I just found about this project but the last commit seems to be from 2018, is this project still active?
@ilg-ul I see that you still answer the issues, but is any more development expected for this project?

Thank you in advance for the amazing work done here.

[2020-04-26 18:29] ilg-ul commented on #51
Definitely, there is more development expected.

I'm currently working on the tools I plan to use to run the tests, then the project will be split into separate packages, each with its tests, and brought together automatically by xpm, or as github submodules.

So yes, this project is still alive, just that those who use it did not have any issue, so there were no changes.

[2020-04-26 18:39] fj-sanchez commented on #51
That was a quick answer!! Definitely encouraging to try out. I would like to play a bit with the project, I just got an STM-32 dev board (NUCLEO-F413ZH) which I think would be suitable, where should I start? I'm a bit lost right now... I'm currently trying out STM32CubeIDE but I'm happy to stick to something else if that ease the process of getting started.

[2020-04-26 18:48] ilg-ul commented on #51
Yes, I know, as it is now organised, the project is a bit difficult to understand, and this is the reason I'm working on some tools to automate project build and testing.

I suggest you take a look at the demo projects:

https://github.com/micro-os-plus/eclipse-demo-projects

and the test projects

https://github.com/micro-os-plus/eclipse-test-projects

As a general idea, there will be a template

[2020-04-26 18:51] ilg-ul commented on #51
BTW, even if you are not interested in RISC-V, I'd be glad to know your opinion on the approach used in that template project.

Please post your comments in the project forum (https://www.tapatalk.com/groups/xpack/general-os-discussions-f22/)

[2020-09-29 10:38] LnnrtS opened #52 "Clarification on free() and operator delete() without length information"
When using `first-fit-top` as the default allocator I am seeing memory leaks when using allocating stl objects (like `std::vector`). The reason is that those objects are calling `operator delete` without length information. The call basically gets discarded in https://github.com/micro-os-plus/micro-os-plus-iii/blob/1ea30f65acfc9b25e8bf6558035e5dd1bc3b9127/src/libcpp/new.cpp#L339

How is this suppo

[2020-09-29 10:53] ilg-ul commented on #52
Hi @LnnrtS, thank you for raising this issue. It looks like I overlooked some of the details.

The memory allocators will be reworked in the next release of µOS++, to match the new standard definitions. Work is scheduled to start in a few weeks time, after all build tools will be ready.

For now, please feel free to use any workaround that works for you. At first sight I would make a shorter alias

[2020-10-02 13:16] LnnrtS commented on #52
Thank you for your quick response.

I ended up defining my custom container types as the `std` ones allocator type set to the one provided by µOS++.

Just for curiosity: Could you elaborate a bit more on how the standard definitions changed? I see that `std::allocator<T>` is still calling `operator delete(ptr)`. So the memory resources need to be changed to remember the size to deallocate for a sp

[2020-10-02 13:21] LnnrtS commented on #50
I would still consider this a bug because an implicit compile-time requirement is not checked and ends up in a runtime error. Adding a `static_assert` would make life a bit easier.

Also I found that using queue sizes of more than 128 or 256 failed in a similar manner. Didn't investigate this further. I guess there exists another limitation of (a combination of) queue size and element size. If tha

[2020-10-02 13:53] ilg-ul commented on #50
Ah, right, the missing compile-time check is a bug.

And since this is a separate problem, please enter a separate issue for it. And, given that you obviously have a deep knowledge of modern C++, please suggest a fix, possibly as a PR.

I would appreciate if you could further investigate, and, if necessary, enter new issues, as mentioned before.

---

Actually I highly appreciate your contribution

[2020-10-02 13:58] LnnrtS opened #53 "More flexible logging functionality"
If you asked me about the improvement to µOS++ that I would wish an update for, I'd say its the logging.

I have turned logging off completely because my applications already uses the ITM trace and I couldn't make both coexist in a reasonable manner. I see two problems with the current implementation

### Log messages are too condensed

I guess this is due to performance reasons. I don't know what

[2020-10-02 14:16] ilg-ul commented on #53
That's correct, in some places time is critical and I tried to impact performances as little as possible. But I think that this can be changed, with a configuration variable we can emit longer messages.

Yes, I considered this, but had no time to implement it yet. Hopefully in the next iteration. I have no experience with Zephyr, but if you think it is worth looking at, we'll consider it.

Yes, th

[2020-10-02 14:26] LnnrtS opened #54 "How to contribute?"
I tried to fix #50 but cannot get a development environment running. For regular projects, I copied the source code into my makefile based projects. Now I would like to just clone the `xpack` branch, specify a port (cortex-m or posix/linux) and get and everything setup with an empty `os_main` or some unittests running. Preferably without the need of an IDE. What is the most straightforward way to

[2020-10-02 14:48] ilg-ul commented on #54
For general discussions please use the project forum (https://www.tapatalk.com/groups/xpack/os-f4/), and keep the GitHub issues **only** for bugs that I need to keep track of.

[2020-10-02 14:50] LnnrtS commented on #54
I will check the forum. Still it would be great if the readme would provide some information on that

[2020-10-02 14:54] ilg-ul commented on #54
The forum is empty for now, you'll have the honour to post the first messages ;-)

Yes, right. :-(

Let's hope that in the next project iteration we'll have a better documentation.

[2020-10-02 16:26] ilg-ul commented on #54
I created a first message with project links in the µOS++ section of the forum.

Please post a message in the General Discussions forum with the previous question, and possibly with further questions.

[2020-10-02 16:27] ilg-ul commented on #54
how exactly did you try to fix it? please comment in the #50 issue.

[2020-10-12 13:27] LnnrtS opened #56 "Incompatible thread argument types in C api"
This cast is invalid

https://github.com/micro-os-plus/micro-os-plus-iii/blob/1ea30f65acfc9b25e8bf6558035e5dd1bc3b9127/src/rtos/os-c-wrapper.cpp#L3613

because the definitions of thread arguments in µOS++ ( `void (*)(const void*)` ) and cmsis (`void* (*)(void*)`) are not compatible.

But neither can be easily changed as it seems.. Probably something to keep in mind for later.

[2020-10-12 13:41] ilg-ul commented on #56
Thank you, I don't have a solution now, we'll keep it in mind for later.

[2020-10-16 09:10] #54 closed, assigned to nobody

[2020-10-16 09:13] ilg-ul opened #58 "Add support for Cortex-M[23]3"
The conditional code that tests `#if defined(__ARM_ARCH_6M__)` must be extended, probably to `__ARM_ARCH_8M_BASE__`.

https://www.tapatalk.com/groups/xpack/viewtopic.php?p=590#p590

[2020-10-16 10:28] ilg-ul opened #59 "Add an option to run the system code in RAM"
On modern devices, which run at high frequencies, executing code from RAM might be faster than from FLASH.

Investigate and if the difference is meaningful, add the code to copy a specific section from flash to RAM, and pass control to it.

https://www.tapatalk.com/groups/xpack/viewtopic.php?p=592#p592

[2020-10-19 05:40] ilg-ul opened #60 "Missing os_sysclock_steady_now () mentioned in the documentation"
The first example in:

http://micro-os-plus.github.io/reference/cmsis-plus/group__cmsis-plus-rtos-c-clock.html#ga06b2db50eb711ad0389bb85c95467626

mentions `os_sysclock_steady_now ()` which is not defined.

Investigate what is the correct way of obtaining the system clock steady counter and fix the example.

[2020-10-19 05:54] ilg-ul commented on #60
Most probably the solution is:

[code]

[2020-10-29 19:04] ilg-ul opened #61 "The final message should display the stack address"
The message displayed by `os_*_goodbye()` should display the stacks addresses:

[code]

should be:

[code]

[2020-10-29 20:15] ilg-ul opened #62 "Do not set the interrupt stack twice"
The stack is already defined in the Cortex-M port, no need to do it here too.

And filling the stack with a pattern should be done in the same location.

[2020-11-09 23:40] ilg-ul opened #63 "Check if standard deallocators should accept null pointers"
The C standard `free()` accepts null pointers.

Check if the C++ deallocators should do the same.

[2021-01-06 09:21] LnnrtS opened #64 "calling os routines before scheduler is started"
What is the expected behavior when calling os routines before the scheduler is started? From my experience, everything related to memory allocation is working correctly by design, some is not working (`sysclock.sleep_for()`) and some might just be working by coincidence (`this_thread`, interaction with `mutex`). Can you shed some light on this?

This has practical relevance because there are multi

[2021-01-06 09:29] ilg-ul commented on #64
Some will run, some will not ;-)

I think that this is an useful suggestion, and some asserts should be added to detect calls that should not happen before the scheduler started

I did not check, but the C/C++ standard might require for the static constructors to be called before entering `main()`.

Anyway, having constructors with a complex functional logic (either system calls or touching the ha

[2021-01-06 09:56] ilg-ul commented on #64
BTW, if I remember right, there might be some calls that switch to a limited functionality when running without the scheduler.

And, if there are not, there should be. In the new version of the project template it is possible to create projects without the scheduler, but there are many calls, even `timer.sleep()` calls, that do not depend on the scheduler, and can run very well.

The conclusion is

[2021-01-06 09:56] LnnrtS commented on #64
Why not have `main` also run from a thread?
If `os_main` was just named `main` (and `main` renamed to something else) that seems like already solved.

I wouldn't say that. For example `std::unique_lock` performs a system call in its constructor.

[2021-01-06 09:59] ilg-ul commented on #64
What call?

[2021-01-06 10:03] LnnrtS commented on #64
It locks the mutex you pass it which in turn interacts with the os.
(I would say that is a system call but maybe we are talking about different things then)

[2021-01-06 10:10] ilg-ul commented on #64
Does it work when called from a static constructor on Linux?

[2021-01-06 10:12] ilg-ul commented on #64
And related: on Linux, is `main()` running from a thread?

[2021-01-06 10:33] LnnrtS commented on #64
Honestly I don't know that.

But my understanding is that everything in userspace is 'running from a thread'. When you call a c++ program, some thread context is created, execution starts from the entry point of the executable which directly calls into libc and libc++ which in turn calls init functions and finally calls main. At every point you should be able make system calls because its not the

[2021-01-06 10:36] ilg-ul commented on #64
If on Linux the static constructors also run from a thread, then we should investigate this route too.

[2021-01-06 11:33] LnnrtS opened #65 "Allow lambdas with captures as thread functions"
This is already possible because non-capturing lambdas can be converted to function pointers
[code]

Would be great if this also would
[code]

Not sure how difficult that would be though..

[2021-01-06 12:31] ilg-ul commented on #65
If this is supported by the C++ standard, and is implemented in the current g++, then it should be possible in µOS++ too.

[2021-01-06 20:47] ilg-ul commented on #64
I did some reading and indeed, initialising static code in multithreaded environments seem a tough subject in C++.

There is also a good article on singletons:

- https://www.aristeia.com/Papers/DDJ_Jul_Aug_2004_revised.pdf

Moving the static constructors initialisations on the main thread probably is not that difficult, but protecting static initialisations in a function which may be called from

[2021-01-06 21:38] LnnrtS commented on #64
That's an interesting paper on an aspect I haven't thought about much before.

But I would say its is outdated. C++11 added general thread awareness to language, so as stated [in the reference](https://en.cppreference.com/w/cpp/language/storage_duration#Static_local_variables) initialization of static local statics is guaranteed to be thread safe - Unless you don't disable it in the compiler (`-fn

[2021-01-06 21:42] ilg-ul commented on #64
Well it is guaranteed as long as the runtime implements correctly the guard functions, which in µOS++ is not done, and, if I remember right, my projects disable this feature, to avoid other issues.

Definitely something to improve.

[2021-01-06 21:47] LnnrtS commented on #65
If I use the `estd` api, then yes, it seems to work (which is good!).
I was referring to the RTOS C++ api which I am normally using because the standard interface doesn't allow to set a stack size.

[2021-01-06 21:48] ilg-ul commented on #64
For reference, here is one of the glibc startup files:

- https://github.com/bminor/glibc/blob/master/csu/libc-start.c

[2021-01-06 21:52] ilg-ul commented on #65
Feel free to suggest improvement to the RTOS native API.

It is true that the standard API does not allow to set the stack size, but you can set the default stack size and then create standard threads. The disadvantage is that this will use dynamically allocated memory.

[2021-01-09 21:36] ilg-ul opened #66 "Add iterator on file descriptors manager"
The file descriptors manager keeps an internal array.

Add a C++ iterator to easily run through this data structure.

[2021-01-13 11:42] LnnrtS opened #67 "condition_variable::wait() should take std::unique_lock as an argument"
This way it is assured that the mutex has been locked previously and it is harder to use this function the wrong way.

Maybe the whole interface could be changed to match `std::condition_variable` but I haven't checked more details.

[2021-01-13 11:45] ilg-ul commented on #67
When it was designed, the intent was to match the standard specs, either I missed something, or the specs were improved.

We have to check all definitions and make them match the current standard.

[2021-01-18 10:39] LnnrtS opened #68 "Support atomic load and store"
This works out of the box
[code]

this doesn't
[code]

because of this

[code]

[2021-01-18 10:41] ilg-ul commented on #68
I don't remember anything about using atomic operations in µOS++.

Where do the atomic definitions come from?

[2021-01-18 10:53] LnnrtS commented on #68
I don't know but I could imagine it knows that the architecture supports atomic operations under some circumstances (everything smaller than words) without further measures.

[2021-01-18 10:55] ilg-ul commented on #68
Then probably it comes from the compiler definitions.

How do you suggest to fix it?

[2021-01-18 11:01] LnnrtS commented on #68
I haven't though much about it but I would guess the actual access has to happen inside some critical section.

[2021-01-18 11:04] ilg-ul commented on #68
AFAIK, atomics are implemented with some special instructions, not explicit critical sections.

[2021-01-18 15:36] LnnrtS opened #69 "implement thread::detach()"
it's currently not implemented (silently returns) but there is no note in the documentation about it

[2021-01-18 15:43] ilg-ul commented on #69
Right, I remember by the time I wrote it I had no idea what to do.

But the documentation must be updated anyway.

Do you have a use case where you need functionality added to it?

[2021-01-18 15:47] LnnrtS commented on #69
When you start a thread as fire-and-forget you don't want to keep a handle to the thread. So you call `detach()` on it before it goes out of scope.

Another option would be to implement `std::async` but that forces you to the std api that doesn't allow to set prioriities and stack size.

[2021-01-18 16:02] ilg-ul commented on #69
I guess this makes more sense in C with POSIX threads, but in C++, if the thread is a local (stack) object, and you exit the scope, the object is destroyed anyway.

If the thread was allocated somewhere else (dynamically or statically), it is alive as long as that scope is alive, so detach again has not much to do.

Am I missing something?

[2021-01-18 16:18] LnnrtS commented on #69
I would say it's as if you would "move" the thread into the scheduler:

Once you detach, the thread continue running until it exits. The destructor doesn't have any effect anymore in that situation. Ressources are freed once the thread exits (see [cpp reference](https://en.cppreference.com/w/cpp/thread/thread/detach)).

[2021-01-18 16:25] ilg-ul commented on #69
That's probably possible with `std::thread`, which is only a wrapper over an internal thread, but `os::thread` is the actual object, with resources used by the scheduler, it normally cannot survive if moved somewhere else (or things get very complicated).

[2021-01-18 16:41] LnnrtS commented on #69
I don't know how to implement this, but for example [CMSIS-RTOS seems to able to do that](https://www.keil.com/pack/doc/CMSIS/RTOS2/html/group__CMSIS__RTOS__ThreadMgmt.html#gaaad14cd9547341ea8109dc4e8540f1dc)
(I know it's not C++ but still it might be worth checking the possibility once the threads are revisited)

[2021-01-18 16:45] ilg-ul commented on #69
Ok, will do.

[2021-01-19 15:49] LnnrtS opened #70 "Allow list initialization of thread::attributes"
I would like do do something like this

[code]

Since there is only a default constructor for `thread::attributes` I have do do this

[code]

A practical use case is having `thread` as member of a class with the need to initialize via the member initializer list.
This doesn't work:

[code]

so I have to use this workaround

[code]

[2021-01-19 16:02] ilg-ul commented on #70
Using a separate attributes structure to initialise various objects is a POSIX trick in C to avoid changing the API when adding new members to the structure, and for those using the C API probably there is not much to do.

However, in C++ life is a bit better, and we have the luxury of multiple constructors, so I think that your proposal makes sense, and not only for threads, but possibly for othe

[2021-01-20 19:07] LnnrtS commented on #70
That seems to be the most straightforward way

[code]

Some constructors needs to be marked as explicit and/or scoped enums need to be used in order to prevent direct conversion from integer types: `attributes myAttr = 5;`

When looking at the code I thought it might also be helpful to

- separate stack properties from priority
- use more descriptive types for the stack properties (`std::span` (C+

[2021-01-20 19:18] ilg-ul commented on #70
I guess it might eventually work, but I'm not convinced that using defaults is a good idea.

What exactly do you mean by this? I have to read the C++20 specs for `std::span`.

[2021-02-18 12:31] LnnrtS opened #71 "calling join() on terminated thread hangs"
I believe this condition should also check for `state::terminated`
https://github.com/micro-os-plus/micro-os-plus-iii/blob/95816262db87a446debebfb949112bdc24bf55c2/src/rtos/os-thread.cpp#L873

[2021-02-18 13:14] ilg-ul commented on #71
What would be the updated condition?

And what exactly is the rationale behind this change? Is there any POSIX requirement for this?

[2021-02-18 13:41] LnnrtS commented on #71
`while (state_ != state::destroyed && state_ != state::terminated) ` fixed the issue for me.
Otherwise `join()` would not return forever if called on a thread that has already terminated (the thread function returned).

The comment above the function indicates that `join()` should return when called on a terminated thread.
I am not familiar with the details of different thread states. If any threa

[2021-02-26 15:54] LnnrtS opened #72 "condition_variable::wait() does not suspend current thread"
[code]
this will busy loop whereas it should wait to be rescheduled by a call to `signal()` from a different thread
[code]
I think there something like
`scheduler::internal_link_node (list_, node);`
missing between [these lines](https://github.com/micro-os-plus/micro-os-plus-iii/blob/xpack/src/rtos/os-condvar.cpp#L684-L686)

[2021-02-26 16:07] LnnrtS commented on #72
As a quick test I added
[code]
which seems to have fixed the issue.
Not sure if that's the correct fix though..

[2021-02-26 16:21] LnnrtS commented on #71
I took a second look at the code. The problem is that the thread sets itself to `terminated` on exit but only gets destroyed by the idle thread. If that one never runs (because of high load), `join()` blocks forever if it waits for `destroyed`.

To avoid this kind of deadlock I would either suggest the fix above (if there are no side effects) or somehow raise the priority of the idle thread in thi

[2021-02-26 16:48] ilg-ul commented on #71
I can't tell if the fix is ok, we need to analyse it carefully.

The priority can be temporarily raised, but to what level, to be sure that it does not have negative side effects, considering that the idle thread is intended to run only when there is nothing else to be done?

[2021-02-26 16:52] LnnrtS commented on #71
To the maximum level of all threads that are waiting on a `join()`?

Maybe then the thread destruction should not be done by the idle thread

sure. I will go with my quick fix for now and we can come back to this once testing infrastructure is in place.

[2021-02-26 17:04] ilg-ul commented on #71
I need to check the implementation, but is there a list of threads waiting on a `join()`?

Please feel free to suggest an alternate solution.

From my point of view, a well behaved application generally should not rely on the preemptive scheduler, and most of the times should not use a full scheduler cuanta, but enter the idle thread at the end of most scheduler ticks.

Unless you have a backgroun

[2021-02-26 17:07] ilg-ul commented on #72
I don't remember the implementation details now, but normally `wait()` should relinquish control.

If it does not, it should be fixed.

I don't know how, but entering both critical sections does not look right.

[2021-02-26 18:13] LnnrtS commented on #71
I don't have a overview of all the implementation details but this is what comes to mind:
- Why can't the thread destroy itself?
- the idle thread could inherit the priority of a thread that terminates if that is greater than its current priority (and reduce the priority after garbage collection ran)
- maybe it makes sense to split idle actions and garbage collection

Yes, the problem occurs only

[2021-02-26 21:11] ilg-ul commented on #71
Because it is quite difficult for a thread to deallocate the stack it is currently using. Or even the thread object itself.

It can, but are you sure that this will help the thread waiting to join?

How? Adding a new GC thread is not exactly attractive.

[2021-03-11 14:52] LnnrtS commented on #71
The fact that my hack works shows that the thread reaches `state::terminated`, so the priorities are set in a way that the thread being waited on manages to make progress. If the idle threads inherits the priority, the rest of the termination process will continue in the same priority as before (which we know ensures to make progress and will eventually finish). Currently, the priority drops for t

[2021-03-11 15:01] LnnrtS opened #73 "Skip waits if current thread is interrupted"
When a thread is interrupted during some `wait()` (for example `event_flags::wait()`) it returns early with `EINTR`.

If interrupt was already set when entering the `wait()` it does not return early but still returns `EINTR`.
I think this is inconsistent.

As the interruption has to be manually reset (and does not reset itself after it once triggered an early return), I think the expected behavior

[2021-03-11 16:05] ilg-ul commented on #73
I don't remember the details why the status reflecting the interruption requires a manual reset, but at first sight this was intended as a feature, not a bug.

As for the behaviour when entering `wait()` while the interrupted flag is still set, this looks like an oversight.

Do you suggest that, as long as the flag remains set, all synchronisation waits should return immediately and return `EINTR`

[2021-03-11 16:17] LnnrtS commented on #73
Yes, I think that's very useful, at least for my usecase.

[code]

This would not be possible in a generic way if the interruption flag would reset itself.
Maybe this is actually what `cancel()` should do but it's not implemented yet.

[2021-03-11 16:23] ilg-ul commented on #71
I may be terribly wrong since I'm not sure I recall correctly the details, but the CMSIS OS validation tests might somehow try to reuse threads; in other words, the thread storage is allocated once and reinitialised multiple times. For this to work, it is mandatory that the thread is no longer in use.

As far as I know, only threads that were joined are guaranteed to no longer be in use.

If `join

[2021-03-11 16:25] ilg-ul commented on #73
Ok, we'll take a second look at POSIX thread interruption/cancellation and improve the behaviour.

[2021-03-11 16:42] LnnrtS commented on #71
I am not suggesting my hack as general solution to the problem. Next to what you describe, there is also the problem that if the memory for the stack does not get deallocated (because the idle thread doesn't run) it might be missing for other tasks. So you could occasionally run out of memory for no apparent reason.

Inheriting the priority just makes sure that the transition terminated -> destroy

[2021-03-11 16:46] LnnrtS commented on #71
Also if the idle thread's priority was temporarily raised to destroy a terminated thread, the idle thread should skip other idle actions. That should reduce potential sideffects

[2021-03-11 16:54] ilg-ul commented on #71
Right. For such cases one might prefer to use static stacks.

We'll consider this mechanism, in some cases it might help, but the real problems here are:

- the presence of a higher priority CPU intensive thread
- the destruction done on the idle thread

---

I'm thinking of an alternate solution. How about, in addition to performing the destruction on the idle thread, as of now, it is also perfor

[2021-03-11 17:01] LnnrtS commented on #71
higher priority than the idle thread, right?

I was also thinking about that. But what if the idle thread already started with destroying the thread and then you call `join()`? It might still hang, right?

[2021-03-11 17:13] ilg-ul commented on #71
higher priority than the bumped priority, whatever it is.

right, it has to wait for the destruction to complete anyway, and if this involves freeing memory, this duration is non-deterministic for the first-fit-top allocator, since it must also coalesce blocks.

but if the waiting thread bumps the idle priority to its own priority, it should take about the same as if it does the destruction itself

[2021-03-11 17:21] LnnrtS commented on #71
But in that case the thread would have not even reached `terminated`. So that example is irrelevant I would say. We only care about the case where `terminated` is reached but `destroyed` is not.

Yes, that would work. But what's the advantage over taking the priority of the terminating thread? It certainly does make things more complicated.

[2021-03-11 17:34] ilg-ul commented on #71
That's correct. Otherwise the current functionality applies.

We can make things even faster if the terminating thread also awakes the thread waiting to join, and in this case the destruction is done sooner, without having to wait for the idle thread. The idle thread will do the cleanup only for threads that are of no interest for other threads

I don't know, but I can ask the same, what is the ad